.top-background-color {
  width: 100%;
  height: 100px;
  background: linear-gradient(to top right, #2a5491, #00498c);
  color: white;
  font-size: 32px;
  font-family: "Exo 2";
  font-weight: 500;
  text-align: center;
  line-height: 300px;
  letter-spacing: 5px;
}
