.right-container {
  justify-self: end;
  position: relative;
  width: 50%;
  padding-top: 1em;
  padding-left: 3em;
  border-left: 3px solid #005c9d;
  transform: translateX(-1.5px);
}

#right-container-title {
  font-size: 2em;
  text-align: start;
  margin-bottom: 2rem;
}

#right-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #005c9d;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-9px, 150%);
}

.right-container-box {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

.right-container-box > p {
  margin-bottom: 1em;
}
.right-container-box > h4 {
  margin-bottom: 1em;
  width: 100%;
}

.right-container-wrap {
  display: flex;
  justify-content: start;
}
