.facilities-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em 0;
}

.facilities-title {
  border-bottom: 3px solid #1e1e1e;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
}

.facility-title {
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.hoist-forklift-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-top: 2em;
}

.hoist-wrap > img,
.forklift-wrap > img {
  width: 400px;
  height: 400px;
  object-fit: fill;
}

.hoist-wrap,
.forklift-wrap {
  border: 1px solid #005c9d;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hoist-forklift-title {
  background-color: #005c9d;
  width: 100%;
  height: 50px;
  font-size: 1.4em;
  line-height: 50px;
  text-align: center;
  color: white;
}

.hoist-forklift-count {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.hoist-forklift-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hoist-forklift-grid > h4 {
  width: 30%;
  text-align: center;
  color: #005c9d;
  font-size: 1.2em;
}

.count {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  height: 100%;
  text-align: center;
  letter-spacing: 2px;
  border: 0.5px solid #005c9d;
}

.count > p {
  border: 0.5px solid white;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 0.5px solid #005c9d;
}
