.introduction {
  background-image: url("../../../assets/회사이미지2.png");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  animation: scaleDown 2s forwards;
  overflow: hidden;
}

.introduction-section {
  width: 100%;
  height: 90vh;
}

.introduction-section::selection {
  background-color: #005c9d;
  color: white;
}

.section-description {
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20em;
}

@keyframes scaleDown {
  from {
    background-size: 120% 120%;
  }
  to {
    background-size: 100% 100%;
  }
}

.section-description::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.section-description > h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.section-description-top {
  display: flex;
  align-items: end;
  margin-bottom: 0.5em;
}

.section-description-top > h2 {
  font-size: 2.5em;
  margin-right: 10px;
}

.section-description-top > p {
  line-height: 20px;
  font-size: 0.8em;
}

.section-description-top > p > span {
  color: #a4cef8;
  font-size: 1em;
}

.section-quality {
  font-size: 0.8em;
}

.introduction-CEO {
  background-color: white;
  height: 80vh;
  display: flex;
  padding: 15em 15em 5em 15em;
}

.introduction-image {
  width: 30%;
  height: 100%;
}

.introduction-image > img {
  width: 100%;
  height: 100%;
}

.introduction-article {
  border: 1px solid red;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.introduction-article > div {
  margin: 1em 2em;
}

.introduction-article > p {
  position: absolute;
  bottom: 2em;
  font-size: 2em;
}

.introduction-article > img {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 200px;
  height: 100px;
}
