.about-history-section {
  position: relative;
  margin-bottom: 15em;
  margin-top: 15em;
}

.about-history-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #005c9d;
  transform: translateX(-50%);
  z-index: -1;
}

.history-line-circle {
  width: 130px;
  height: 130px;
  background-color: #005c9d;
  margin: 2rem auto 0;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.history-line-circle > p {
  color: white;
  font-size: 1.2em;
}

.history-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.history-item.animate {
  opacity: 1;
  transform: translateY(0);
}
